// Use the Apptainer scope directly
apptainer {
    enabled       = true
    autoMounts    = true
    cacheDir      = "$projectDir/singularity_cache"
    executable    = '/usr/local/bin/apptainer'  // <--- USE THE PATH FROM 'which apptainer'
    pullTimeout   = '60 min'
}

process {
    executor     = 'slurm'
    queue        = 'gpu'
    cpus         = 8
    memory       = '32 GB'
    time         = '12h'
    
    // Force the environment to recognize apptainer inside the SLURM job
    beforeScript = 'export PATH=$PATH:/usr/local/bin' 
}
